:root{
    --primary-color: white;
    --secondary-color: #774167;
    --vibrant-color: #f19688;
    --deepsea-color: #2B3D59;
}


h2{
    color: var(--vibrant-color);
    font-family: ltc-bodoni-175, serif;
    font-style: normal;
    font-weight: 500px;
    font-size: 3rem;
    line-height: 1.4em;
    
}

.bg-title{
    background: var(--deepsea-color);
}
h3{
    color: var(--vibrant-color);
    font-family: ltc-bodoni-175, serif;
    font-style: normal;
    font: weight 400px;
    font-size: 1.5rem;

}


.title{
    font-style:bold;
}

h4{
    color: black;
    font-style: bold;
}

.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  background-color: #f19688;
}

.inner{
    overflow: hidden;
}

.inner img{
    transition: all 1.5s ease;
}

.inner:hover img{
transform: scale(1.5);
}

.correo{
    color: var(--deepsea-color);
    font-family: ltc-bodoni-175, serif;
    font-style: normal;
    font-weight: 500px;
    font-size: 1.5rem;
    line-height: 1em;
}
